/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* index.css */
/* .header img {
  width: 100%;
}

.container {
  padding: 20px;
}

.centered-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-list {
  margin-top: 20px;
}

.task-div1, .task-div2 {
  display: flex;
  justify-content: space-between;
}

.radio-container input {
  margin-right: 10px;
}

.current-task {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.completed-task {
  text-decoration: line-through;
}

.material-symbols-outlined {
  cursor: pointer;
}

.dueDate, .priority {
  margin-left: 10px;
} */


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #191919;
}
.header{
  background-color: #0d0d0d;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.container{
  max-width: 70vw;
  margin: 20px auto;
  background-color: transparent;
  padding: 20px;
  margin-top: -30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
} 

#taskName{
  background-color: #262626;
  color: white;
  margin-right: 20px;
}
input {
  width: 50%;
  padding: 10px;
  margin-right: 20px;
  border: none; 
  border-radius: 5px;
}
button {  
  gap: 2px;
  background-color: #1e6f9f;
  color: #fff;
  padding: 8px 15px;
  border: none; 
  border-radius: 4px;
  cursor: pointer;
  outline: none;   
  /* margin-left: 20px; */
}


button .material-symbols-outlined.plus {
  font-size: inherit; /* or 'initial' */ 
}
button:hover {
  background-color: rgb(69, 111, 160);
} 
#task-info{
  width: 95%;
  font-size: 13px; 
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.to-do-list,.Started,.Completed{
  color: #4ba1d4; 
}
.high-priority,.high-priority-1{
  color: #8284fa;
}
.medium-priority,.medium-priority-1{
  color: #8284fa;
}
.low-priority,.low-priority-1{
  color: #8284fa;
}
#info-select{
  color :#1e6f9f;
  background-color: #262626;
  border: none;
  border-radius: 5px;
}
.task-list{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  width: 95%;
  font-size: 13px; 
  font-weight: bold;
  border-top: 1px solid #333333
} 
.task-list div{
  margin: 10px; 
  color: #808080;
}
.task-list img{
  margin-top: 40px;
}
.footer{
  width: 95%;
  font-size: 13px; 
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333333
}

.count{
  border-radius: 40%; 
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  background-color: #808080;
  color: #d9d9d9;
  font-size: 12px;
}
.current-task{
   width: 100%; 
  background-color: #262626;
  color: white;
  display: flex;
  /* justify-content: space-between;   */
  font-size: 12px;
  margin-top: 10px;  
  /* align-items: center; */
  flex-direction: column;
}
.task-text{
  width: 90%;
}
.current-task .material-symbols-outlined{
  font-size: 20px;
  cursor: pointer;
} 
.dueDate{
  width : 150px;
  margin-top: 8px;
}
.radio-container{
  margin-right: 5px;
}
#date{
  background-color: #262626;
  color : #7f7f7f;
  width : 130px;
  border-radius: 5px;
}
#selection{
  background-color: #262626;
  color : #7f7f7f;
  border: none;
  padding : 10px;
  border-radius : 5px;
  margin-right: 20px;
}
.task-div1{
  display: flex;
  justify-content: space-between;
}
.task-div2{
  display: flex;
  justify-content: space-between;
}
.dueDate{
  color : white;
}
.priority{
  color :#8284fa;
}
#searchInput{
   background-color: #262626;
   margin : 5px 1px;
   color : white;
}
@media screen and (max-width: 500px){
  
  #taskName{
      width : 60vw;
   }
  #date{
      width : 60vw;
      margin : 5px 0px;
  }
  #task-info span{
      font-size: 10px;
  }
  #task-select{
      margin : 2px;
      width : 10px;
  }
}
@media screen and (max-width: 328px){
  input{
      width: 65%;
  }
}